html, body {
    height: 100%;
    width: 100%;
  }

  #gravity {
    margin-top: 10px;
  }
  
  #submit {
    margin-bottom: 10px;
  }

  .input {
    border-radius: 3px;
    margin-top: 3px;
  }
  
  #ground {
    width: 100%;
    position: relative;
    bottom: 100px;
  }
  
  #ramp {
    height: 500px;
    position: relative;
    left: 285px;
    bottom: 100px;
  }
  
  #canvas {
    height: 75px;
    position: absolute;
    top: 220px;
    left: 365px;
    transform: rotate(64.25deg);
  }

  